<a href="https://colab.research.google.com/github/whiteracer98/IBM_DS_CERT/blob/main/DataScienceEcoSystem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* Create a markdown cell with a table of Data Science tools
* Create a markdown cell introducing arithmetic expression examples
* Create a code cell to multiply and add numbers

Some of the popular languages that Data Scientists use are: Python, SQL, & R.

Some of the commonly used libraries used by Data Scientists include: NumPy, Pandas, PyTorch, SciPy, Scikit-Learn, TensorFlow, & Matplotlib.

| Data Science Tools |
| --- |
| RStudio |
| Jupyter Notebook |
| Apache Hadoop |

$$
  \int_0^\infty \frac{x^3}{e^x-1}\,dx = \frac{\pi^4}{15}
$$
*Note no expression examples were displayed within assignment layout

In [ ]:
print("This a simple arithmetic expression to mutiply then add integers (3*4)+5 = {}".format((3*4)+5))

This a simple arithmetic expression to mutiply then add integers (3*4)+5 = 17

In [ ]:
print('his will convert 200 minutes to hours by diving by 60')
print('200 minutes into {} hours'.format(round(200/60,2)))

his will convert 200 minutes to hours by diving by 60
200 minutes into 3.33 hours

##Author
Travis Deck

#### Add your code below following the instructions given in the course